.button {
  padding: 16px 49.5px;
  border: 0;
  border-radius: 0;
  background: @light-blue;
  color: @white;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  white-space: nowrap;
  text-transform: uppercase;
  cursor: pointer;

  &:hover {
    background-color: @blue;
  }

  &:active {
    background-color: @dark-blue;
    color: rgba(255, 255, 255, 0.3);
  }

  &:disabled {
    background-color: @dark-grey;
    pointer-events: none;
  }
}
