.button {
  padding: 16px 49px;
  border: 0;
  border-radius: 0;
  background: @accent-color;
  color: @opposite-color;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;

  &:hover {
    background-color: @accent-darker-color;
  }

  &:active {
    background-color: @accent-darkest-color;
    color: rgba(255, 255, 255, 0.3);
  }

  &:disabled {
    background-color: @field-darker-color;
    pointer-events: none;
  }
}
