.features__list {
  margin: 0 auto;
  padding: 0;
  list-style-type: none;

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: 256px 256px 256px;
    width: 768px;
  }

  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: 400px 400px 400px;
    width: 1200px;
  }
}

.features__item {
  @media (min-width: @tablet-width) {
    width: 256px;
  }

  @media (min-width: @desktop-width) {
    width: 400px;
  }
}

.features__card {
  text-align: center;
  background-color: @grey;
}

.features__card--illustrated {
  background-color: @light-blue;

  & .features__title {
    .subtitle-white();
  }

  & .features__card-number {
    color: @white;
  }

  & .features__description {
    color: @white;
  }
}

.features__title {
  margin: 0;
  margin-bottom: 10px;
  .subtitle-black();
}

.features__card-number {
  display: block;
  margin-bottom: 18px;
}

.features__description {
  margin: 0;
  text-indent: 1.5px;
}


.features__image {
  display: block;

  @media (min-width: @tablet-width) {
    width: 512px;
    height: 256px;
  }

  @media (min-width: @desktop-width) {
    width: 800px;
  }
}
