.features__list {
  margin: 0 auto;
  padding: 0;
  list-style-type: none;

  @media (max-width: @mobile-width-only) {
    padding-bottom: 6px;
    background-color: @alternate-background-color;
  }

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: 256px 256px 256px;
    width: 768px;
  }

  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: 400px 400px 400px;
    width: 1200px;
  }
}

.features__item {
  @media (min-width: @tablet-width) {
    grid-column: span 1;
    display: flex;
    flex-wrap: wrap;
  }
}

.features__item--wide {
  @media (min-width: @tablet-width) {
    grid-column: 1 / -1;
  }
}

.features__item--reversed {
  flex-direction: row-reverse;
}

.features__image {
  display: block;
  width: 100%;
  object-fit: none;

  @media (max-width: @mobile-width-only) {
    height: 260px;
  }

  @media (min-width: @tablet-width) {
    height: 256px;
  }
}
