.features__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.features__card {
  background-color: #eeeeee;

  > .features__title {
    margin: 0;
    .subtitle-black();
  }

  > .features__description {
    margin: 0;
  }
}

.features__card--illustrated {
  background-color: #81b3d2;

  > .features__title {
    margin: 0;
    .subtitle-white();
  }

  > .features__card-number {
    color: #ffffff;
  }

  > .features__description {
    margin: 0;
    color: #ffffff;
  }
}

.features__image {
  display: block;
}
