.features-card {
  position: relative;
  padding: 24px 26px;
  text-align: center;
  background-color: @grey;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    width: 256px;
    min-height: 256px;
    padding: 0 33px;
  }

  @media (min-width: @desktop-width) {
    width: 400px;
  }
}

.features-card--illustrated {
  background-color: @light-blue;
  //padding: 37px 18px;
  @media (min-width: @tablet-width) {
    padding-top: 52px;
  }

  & .features-card__title {
    .subtitle-white();

    @media (min-width: @tablet-width) {
      font-size: 21px;
    }
  }

  & .features-card__number {
    color: @white;
  }

  & .features-card__description {
    color: @white;
  }
}

.features-card--start {
  @media (max-width: @mobile-width-only) {
    padding: 49px 18px 39px 18px;

    &::before {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
      width: 100%;
      height: 15px;
      background-image: url("../img/promo-triangle.svg");
      background-repeat: no-repeat;
      background-position: bottom;
      background-size: auto;
      background-color: @light-blue;
      content: "";
    }
  }
}

.features-card--bordered {
  @media (max-width: @mobile-width-only) {
    padding-bottom: 25px;

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 284px;
      height: 1px;
      background-color: @line-grey;
    }
  }
}

.features-card__title {
  margin: 0;
  margin-bottom: 10px;
  .subtitle-black();

  @media (min-width: @tablet-width) {
    font-size: 21px;
  }
}

.features-card__number {
  display: block;
  margin-bottom: 18px;
}

.features-card__description {
  margin: 0;
  text-indent: 1.5px;
}


.features__image {
  display: block;

  @media (min-width: @tablet-width) {
    width: 512px;
    height: 256px;
  }

  @media (min-width: @desktop-width) {
    width: 800px;
  }
}
