.features-item {
  @media (min-width: @tablet-width) {
    grid-column: span 1;
    display: flex;
    flex-wrap: wrap;
  }
}

.features-item--wide {
  @media (min-width: @tablet-width) {
    grid-column: 1 / -1;
  }
}

.features-item--reversed {
  flex-direction: row-reverse;
}
