.field {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  padding: 16px;
  border: none;
  background-color: @field-color;
  font-family: inherit;
  .subtitle();
  text-transform: none;

  &:placeholder-shown {
    color: rgba(0, 0, 0, 0.3);
  }
}

.field-wrapper {
  position: relative;

  &--has-icon {
    &::before,
    &::after {
      position: absolute;
      top: 50%;
      right: 0;
      transform: translateY(-50%);
      width: 58px;
      z-index: 1;
      height: 100%;
      content: "";
    }

    &::before {
      background-color: @field-icon-color;
    }

    &::after {
      background-repeat: no-repeat;
      background-position: center;
      background-size: 18px;
    }
  }
}
