.field {
  box-sizing: border-box;
  width: 100%;
  padding: 16px;
  border: none;
  background-color: #f2f2f2;
  font-family: inherit;
  .subtitle-black();
  text-transform: none;

  &:placeholder-shown {
    color: rgba(0, 0, 0, 0.3);
  }
}
