.footer {
  padding: 28px 77px 23px;
}

.footer__wrapper {
  text-align: center;
}

.footer__hashtag {
  display: block;
  .subtitle-black();
  font-size: 21px;
  margin-bottom: 33.5px;
}

.footer__social-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  padding: 0;
  margin: 0;
  margin-bottom: 40px;
  list-style-type: none;
}

.footer__author-link {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: inherit;

  &:hover {
    color: #81b3d2;
  }

  &:active {
    color: #b3b3b3;
  }
}

.footer__author-text {
  margin-right: 12px;
}
