.footer {
  padding: 28.5px 77px 23px;

  @media (min-width: @tablet-width) {
    padding: 36.5px 0;
  }

  @media (min-width: @desktop-width) {
    padding: 36px 0;
  }
}

.footer__wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    display: grid;
    justify-content: center;
    align-items: center;
    width: 632px;
    grid-template-columns: 160px 246px 140px;
    column-gap: 43px;
  }

  @media (min-width: @desktop-width) {
    width: 944px;
    grid-template-columns: 160px 246px 140px;
    column-gap: 199px;
  }

  &--catalog {
    @media (min-width: @tablet-width) {
      width: 648px;
      grid-template-columns: 160px 246px 158px;
      column-gap: 43px;
    }

    @media (min-width: @desktop-width) {
      width: 961px;
      grid-template-columns: 200px 270px 201px;
      column-gap: 145px;
    }
  }
}

.footer__hashtag {
  display: block;
  .title();
  margin-bottom: 33.5px;

  @media (min-width: @tablet-width) {
    margin: 0;
  }
}

.footer__social-list {
  justify-self: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 0;
  margin-bottom: 34px;
  margin-right: -6px;
  padding: 0;
  list-style-type: none;

  @media (min-width: @tablet-width) {
    margin-bottom: -6px;
  }
}

.footer__social-item {
  margin-right: 6px;
  margin-bottom: 6px;
}

.footer__social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  background-color: @accent-color;

  &:hover {
    background-color: @accent-darker-color;
  }

  &:active {
    background-color: @accent-darkest-color;

    & .footer__social-image {
      fill: rgba(red(@opposite-color), green(@opposite-color), blue(@opposite-color), 0.3);
    }
  }
}

.footer__social-image {
  fill: @opposite-color;
}

.footer__author-link {
  justify-self: flex-end;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: inherit;

  &:hover {
    color: @accent-color;
  }

  &:active {
    color: @author-darkest-color;
  }
}

.footer__author-text {
  margin-right: 12px;
}
