.main-nav__list {
  margin: 0 auto;
}

.main-nav__toggle {
  position: relative;
  display: block;
  width: 22px;
  height: 22px;
  padding: 0;
  margin-left: auto;
  background-image: url("../img/icons/other/menu-close.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
  z-index: 10;

  @media (min-width: @tablet-width) {
    display: none;
  }

  @media (min-width: @desktop-width) {
    display: none;
  }

  &--closed {
    width: 23px;
    height: 22px;
    background-image: url("../img/icons/other/menu-open.svg");
    z-index: 1;
  }

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}
