.page {
  min-height: 100%;
}

.page__body {
  margin: 0;
  font-family: "PT Sans", "Helvetica", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: #333333;
}
