.promo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 31.5px;
  padding-bottom: 39px;

  @media (min-width: @tablet-width) {
    padding-top: 46.5px;
    padding-bottom: 57.5px;
  }

  @media (min-width: @desktop-width) {
    padding-top: 59px;
    padding-bottom: 45px;
  }

  &--catalog {
    @media (max-width: @mobile-width-only) {
      padding-top: 37px;
      padding-bottom: 36.5px;
    }

    @media (min-width: @tablet-width) {
      padding-top: 67px;
      padding-bottom: 81.5px;
    }

    @media (min-width: @desktop-width) {
      padding-top: 98px;
      padding-bottom: 90.5px;
    }
  }

  &--form {
    @media (max-width: @mobile-width-only) {
      padding-top: 35.5px;
      padding-bottom: 28px;
    }

    @media (min-width: @tablet-width) {
      padding-top: 67px;
      padding-bottom: 81px;
    }

    @media (min-width: @desktop-width) {
      padding-top: 113px;
      padding-bottom: 70px;
    }
  }
}

.promo__title {
  text-indent: -5px;
  max-width: 83%;
  margin: 0;
  margin-bottom: 35px;
  text-align: center;
  .subtitle();
  line-height: 26.5px;

  @media (min-width: @tablet-width) {
    max-width: 500px;
    font-size: 21px;
    margin-bottom: 28px;
  }

  &--inner {
    text-indent: 0;
    margin-bottom: 24px; //FIXME Возможно только для формы

    @media (min-width: @tablet-width) {
      font-size: 30px;
      margin-bottom: 30px;
    }
  }
}

.promo__subtitle {
  max-width: 84%;
  margin: 0;
  text-align: center;

  &--inner {
    max-width: 90%;

    @media (min-width: @tablet-width) {
      max-width: 430px;
    }
  }
}
