.review-form {
}

.review-form__form {

}

.review-form__fieldset {
  margin: 0;
  padding: 24px 20px;
  border: none;

  &:not(:last-of-type) {
    box-shadow: 0 -1px 0 #e5e5e5,
      0 1px 0 #e5e5e5;
  }
}

.review-form__title {
  width: 100%;
  margin-bottom: 20px;
  float: left;
  text-align: center;
  .subtitle-black();
}

.review-form__variant {
  .subtitle-black();
}

.review-form__tip {
  display: block;
  text-align: right;
}

.review-form__wrapper {
  padding: 24px 20px;
}
