.site-list {
  width: 100%;
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: none;

  @media (max-width: @mobile-width-only) {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
  }

  @media (min-width: @tablet-width) {
    width: @tablet-width;
    display: grid;
    grid-template-columns: 153px 306px 153px 153px;
  }

  @media (min-width: @desktop-width) {
    width: @desktop-width;
    display: grid;
    grid-template-columns: 240px 480px 240px 240px;
  }

  &--opened {
    display: block;
  }

}

.site-list__item {
  @media (min-width: @tablet-width) {
    &:nth-of-type(4n - 2) {
      margin-right: 153px;
    }
  }

  @media (min-width: @desktop-width) {
    &:nth-of-type(4n - 2) {
      margin-right: 240px;
    }
  }
}

.site-list__link {
  display: block;
  padding: 17px 17px 12px 17px;
  .subtitle-white();
  text-align: center;
  text-decoration: none;
  background-color: @light-blue;

  &:hover {
    background-color: @blue;
  }

  &:active {
    background-color: @dark-blue;
    color: rgba(102, 158, 192, 0.3);
  }

  @media (min-width: @tablet-width) {
    padding: 18px 0;
    width: auto;
    .caption();
    background-color: transparent;

    &:hover {
      background-color: transparent;
      color: @light-blue;
    }

    &:active {
      background-color: transparent;
      color: rgba(0, 0, 0, 0.3);
    }
  }

  @media (min-width: @desktop-width) {
    padding: 18px 0;
    width: auto;
    .caption();
    background-color: transparent;

    &:hover {
      background-color: transparent;
      color: @light-blue;
    }

    &:active {
      background-color: transparent;
      color: rgba(0, 0, 0, 0.3);
    }
  }

  &--current {
    @media (min-width: @tablet-width), (min-width: @desktop-width) {
      pointer-events: none;
      color: @brown;
    }
  }
}
