.site-list {
  position: relative;
  width: 100%;
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: none;

  @media (max-width: @mobile-width-only) {
    background-color: @accent-color;

    &::after {
      position: absolute;
      bottom: 0;
      content: "";
      width: 100%;
      height: 7px;
      background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 100%);
    }
  }

  @media (min-width: @tablet-width) {
    width: @tablet-width;
    display: grid;
    grid-template-columns: 153px 306px 153px 153px;
  }

  @media (min-width: @desktop-width) {
    width: @desktop-width;
    display: grid;
    grid-template-columns: 240px 480px 240px 240px;
  }
}

.site-list__item {
  @media (max-width: @mobile-width-only) {
    &:not(:last-child) {
      margin-bottom: 1px;
    }
  }

  @media (min-width: @tablet-width) {
    &:nth-of-type(4n - 2) {
      margin-right: 153px;
    }
  }

  @media (min-width: @desktop-width) {
    &:nth-of-type(4n - 2) {
      margin-right: 240px;
    }
  }
}

.site-list__link {
  display: block;
  padding: 17px 17px 12px 17px;
  .subtitle();
  color: @opposite-color;
  text-align: center;
  text-decoration: none;
  background-color: @accent-color;
  box-shadow: 0 1px 0 rgba(1, 1, 1, 0.2), inset 0 1px 0 rgba(255, 255, 255, 0.2);

  &:hover {
    background-color: @accent-darker-color;
  }

  &:active {
    background-color: @accent-darkest-color;
    color: rgba(102, 158, 192, 0.3);
  }

  &--current {
    color: @menu-accent-color;
  }

  @media (min-width: @tablet-width) {
    padding: 15px 0;
    width: auto;
    .caption();
    font-size: 14px;
    text-indent: 3px;
    background-color: transparent;
    box-shadow: none;

    &:hover {
      background-color: transparent;
      color: @accent-color;
    }

    &:active {
      background-color: transparent;
      color: rgba(red(@title-color), green(@title-color), blue(@title-color), 0.3);
    }

    &--current {
      pointer-events: none;
      color: @menu-secondary-accent-color;
    }
  }

  @media (min-width: @desktop-width) {
    width: auto;
    .caption();
    background-color: transparent;
    box-shadow: none;

    &--current {
      pointer-events: none;
      color: @menu-secondary-accent-color;
    }
  }
}

.site-list__item:last-child .site-list__link {
  @media (max-width: @mobile-width-only) {
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2);
  }
}
