.video-presentation {
  text-align: center;

  @media (max-width: @mobile-width-only) {
    padding: 19px 20px 0 20px;
  }

  @media (min-width: @tablet-width) {
    padding: 61px 0 35px 0;
  }

  @media (min-width: @desktop-width) {
    padding: 61px 0 78px 0;
  }
}

.video-presentation__title {
  margin: 0;

  @media (max-width: @mobile-width-only) {
    margin-bottom: 29px;
    font-size: 18px;
  }

  @media (min-width: @tablet-width) {
    font-size: 30px;
    margin-bottom: 35px;
  }
}

.video-presentation__text {
  margin: 0 auto;
  text-align: center;

  @media (max-width: @mobile-width-only) {
    width: 90%;
    margin-bottom: 39px;
  }

  @media (min-width: @tablet-width) {
    max-width: 450px;
    margin-bottom: 88px;
  }
}

.video-presentation__video {
  @media (max-width: @mobile-width-only) {
    width: 280px;
    height: 177px;
    background-image: url("../img/catalog/video-cover_phone.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }

  @media (min-width: @tablet-width) {
    background-image: url("../img/catalog/video-cover_tablet.jpg");
    width: 648px;
    height: 500px;
  }

  @media (min-width: @desktop-width) {
    background-image: url("../img/catalog/video-cover_desktop.jpg");
    width: 800px;
    height: 500px;
  }
}
