.title-black() {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  color: @black;
}

.subtitle-black() {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  color: @black;
}

.subtitle-white() {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  color: @white;
}

.caption {
  font-weight: 700;
  color: @black;
}
