//Fonts
@primary-font: "PT Sans", "Tahoma", sans-serif;
//Colors
@text-color: #333333;
@black: #000000;
@white: #ffffff;
@transparent-white: fade(#ffffff, 30%);
@light-blue:#81b3d2;
@blue: #669ec0;
@dark-blue: #5496bd;
@darker-blue: #5f89b1;
@marker-blue: #81b3d3;
@light-grey: #f2f2f2;
@grey: #eeeeee;
@dark-grey: #e5e5e5;
@alternate-grey: #b3b3b3;
@darker-grey: #d5d5d5;
@line-grey: #d6d6d6;
@border-grey: #dbdbdb;
@field-icon: #e6e6e6;
@brown: #766357;
//Resolutions
@mobile-width-only: 767px;
@tablet-width: 768px;
@desktop-width: 1200px;
